{% extends 'admin_layouts/administrator.html'%}
{% load static %}
{% load base %}
{% block content %}
<div class="container py-5">

  <div class="col-md-12">
    <!-- Widget: user widget style 1 -->
    <div class="card card-widget widget-user">
      <div class="widget-user-header bg-primary">
        <h3 class="widget-user-username">{{ user.get_full_name }}</h3>
        {% for group in user.groups.all %}
        <h5 class="widget-user-desc" style="text-transform: uppercase;">{{ group.name }} Group</h5>
        <!-- <h5 class="widget-user-desc">Founder &amp; CEO</h5> -->
        {% endfor %}
      </div>

      <div class="widget-user-image">
        <img class="profile-user-img img-fluid img-circle" src="{{user.profile.profile.url}}" alt=".">
      </div>

      <div class="card-footer">
        <div class="row">
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{% loan_amount   %}</h5>
              <span class="description-text">Loan</span>
            </div>
          </div>
          <div class="col-sm-4 border-right">
            <div class="description-block">
              <h5 class="description-header">{% share_count request.user.member %}</h5>
              <span class="description-text">Share/Hisa</span>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="description-block">
              <h5 class="description-header">40000</h5>
              <span class="description-text">Insurance</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- 
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Balance Summary</h3>
  
      </div>
      <div class="card-body" style="display: block;">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Profit Amount</span>
                    <span class="info-box-number text-center text-muted mb-0">8.7mil</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Fines Amount</span>
                    <span class="info-box-number text-center text-muted mb-0">2300</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Share(Hisa) Amount</span>
                    <span class="info-box-number text-center text-muted mb-0">20 <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Jamii Amount</span>
                    <span class="info-box-number text-center text-muted mb-0">20 <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Loan Amount</span>
                    <span class="info-box-number text-center text-muted mb-0">20 <span>
                      </span></span></div>
                </div>
              </div>
              <div class="col-12 col-sm-4">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Total amount </span>
                    <span class="info-box-number text-center text-muted mb-0">{{ balance.total }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->



  </div>
  {% endblock %}