{% extends 'admin_layouts/administrator.html'%}
{% load static %}
{% block title %} administrator | TMD {% endblock%}
{% block content %}

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">User Panel </h1>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  
  <div class="container">
    {% if  users  %}

    <div class="card">
      <div class="card-header border-transparent">
        <h3 class="card-title">users Lists</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse">
            <i class="fas fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove">
            <i class="fas fa-times"></i>
          </button>
        </div>

      </div>
      <!-- /.card-header -->
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            <thead>
              <tr>
                <th>#</th>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Group</th>
                <th>Status</th>
                {% if perms.auth.change_user or perms.auth.delete_user %}
                <th>Actions</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td><a href="pages/examples/invoice.html">{{ forloop.counter }}</a></td>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>
                  {% if user.groups.count %}
                  <!-- {{ user.groups.count }}: -->
                  {% for group in user.groups.all %}
                  {{ group.name }}
                  {% endfor %}
                  {% else %}
                  <p style="font-style:italic ;
              color:rgba(57, 55, 55, 0.299)
              ">
                    Not Yet Assigned</p>
                  {% endif  %}


                </td>
                <td><span class="badge badge-success">Active</span></td>

                <td>
                  {% if perms.auth.change_user %}
                  <a title="Edit user info" style="margin-right: 10px;" href="" data-toggle="modal"
                    data-target="#edituser{{ user.id }}" class="text-primary"> <i class="fa fa-edit"></i> </a>
                  {% endif %}

                  {% if perms.auth.delete_user %}

                  <a title="Delete user " href="javascript:void(0)" data-toggle='modal'
                    data-target="#deleteuser{{ user.id }}" class="text-danger"> <i class="fa fa-trash"></i> </a>
                  {% endif %}

                </td>
              </tr>
              <!-- Create Modal -->
              <div class="modal fade" id="deleteuser{{ user.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      Delete user
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'administrator:remove_user' user.id  %}">
                        {% csrf_token %}
                        <p>Are You Sure? Delete User <b><span style="color: red;"> {{ user.username }} </span>?</b></p>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-danger btn-sm">Yes?Delete user </button>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- end Modal -->


              <!-- Edit Modal -->
              <div class="modal fade" id="edituser{{ user.id }}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      Edit user
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="{% url 'administrator:update_user' user.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group" style="padding: 10px 30px;">
                          <p>
                            <select style="text-transform: uppercase;" name="groups" class="form-control"
                              placeholder="Select groups" id="id_groups" required>
                              <!-- {% for gp in user.groups.all %}
                          <option  selected  disabled value="{{ gp.id }}">--KEEP {{ gp.name }} GROUP--</option> 
                          {% endfor %} -->
                              <option selected disabled value="">--choose GROUP--</option>
                              {% for field in  form.groups %}
                              <!-- {%if field.html_name  in  user.groups.all  %}
                          <option selected  value="{{ field.id }}">{{ field.name }} </option> 
                                    {% endif  %} -->
                              {{ field }}
                              {% endfor %}

                            </select>
                          </p>
                          <p> <input type="text" name="username" class="form-control" value="{{ user.username }}"
                              autofocus placeholder="create  your username" maxlength="150" required=""
                              id="id_username"></p>
                          <p> <input type="text" name="first_name" class="form-control" value="{{ user.first_name }}"
                              placeholder="Enter firstname" maxlength="30" id="id_first_name"></p>
                          <p> <input type="text" name="last_name" class="form-control" value="{{ user.last_name }}"
                              placeholder="Enter your last name" maxlength="150" id="id_last_name"></p>
                          <p> <input type="email" name="email" class="form-control" placeholder="Email email"
                              maxlength="254" id="id_email" value="{{ user.email }}"> </p>
                          <br>

                        </div>

                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary btn-sm">Update </button>
                        </div>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- end Modal -->












              {% endfor  %}



            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>
      <!-- /.card-body -->
      {% if perms.auth.add_user %}
      <div class="card-footer clearfix">
        <!-- <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-left">View Inactive users</a> -->
        <a href="javascript:void(0)" data-toggle="modal" data-target="#modal-default"
          class="btn btn-sm btn-info float-right">Create users</a>
      </div>
      {% endif %}






      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>






  <!-- /.card-footer -->
</div>
{% else %}
<div class="jumbotron text-center text-info">
  <h5> <i class="fa fa-exclamation-triangle"></i> No any users Found</h5>
  or <a href="" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-default"> Create Now</a>
</div>
{% endif %}
</div>



<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create users</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'administrator:user' %}" method="POST">
        <div class="modal-body">

          <div class="form-group" style="padding: 10px 30px;">
            {% csrf_token %}
            <!-- ==================================================== -->
            <p> {{ form.username }} </p>
            <!-- ==================================================== -->

            <!-- ==================================================== -->
            <p> {{ form.first_name }} </p>
            <!-- ==================================================== -->

            <!-- ==================================================== -->
            <p> {{ form.last_name }} </p>
            <!-- ==================================================== -->

            <!-- ==================================================== -->
            <p> {{ form.email }} </p>
            <!-- ==================================================== -->

            <select name="groups" class="form-control" placeholder="Select groups" id="id_groups" required>
              <option selected disabled value="1">--choose group--</option>
              {% for field in form.groups %}
              {{ field }}
              {% endfor %}
            </select>
            </p>

          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary btn-sm">Create And Permit</button>
        </div>
      </form>
    </div>
  </div>
</div>


{% endblock %}