{% load static %}
{% load base %}
<aside class=" main-sidebar elevation-4 sidebar-light-primary">
  <a href="{% url 'administrator:start' %}" class="brand-link navbar-white">
    <img src="{% static 'images/logo.png' %}" alt="." class="brand-image " style="opacity: .8" width="10px">
    <span class="brand-text font-weight-light"><strong> ARISE AND SHINE</strong> </span>
  </a>
  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <!-- <img src="{{ user.profile.profile.url }}" class="img-circle " alt="."> -->
      </div>
      
     <p> <i class="nav-icon fas fa-home"></i> administrator  </p> 
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview
        {% if request.resolver_match.url_name == 'start' %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link 
          {% if request.resolver_match.url_name == 'start' %}
         active
            {% endif %}
          
          ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <!-- {% if perms.auth.view_user or perms.loan.view_loan or perms.member.view_member %}
            <li class="nav-item">
              <a href="{% url 'administrator:start' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Admin Dashboard</p>
              </a>
            </li>
            {% endif %} -->
            <li class="nav-item">
              <a href="{% url 'administrator:start' %}" class="nav-link">
                <i class="nav-icon far fa-circle "></i>
                <p class="text">Admin Dashboard</p>
              </a>
            </li>

            <!-- <li class="nav-item">
              <a href="{% url 'administrator:normal' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Dashboard</p>
              </a>
            </li> -->

          </ul>
        </li>

     

        {% if perms.auth.view_group or perms.auth.view_user or perms.member.view_member %}

        <li class="nav-header">System</li>
        {% endif %}

        {% if perms.auth.view_group %}

        
        <li class="nav-item has-treeview
        {% if 'active-group' in request.path %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link 
          {% if 'active-group' in request.path %}
          active
          {% endif %}
          ">
            <i class="nav-icon fab fa-rebel"></i>
            <p>
              Groups
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">{% group_count %}</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administrator:group' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Active lists </p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}


        {% if perms.auth.view_user %}
        <li class="nav-item has-treeview
        {% if 'active-user' in request.path %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link
          {% if 'active-user' in request.path %}
        active
          {% endif %}
          
          
          ">
            <i class="nav-icon fa  fa-users "></i>
            <p>
              users
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">{% user_count %}</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administrator:user' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Active users</p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}

       
        <li class="nav-header">Management </li>
        {% if perms.auth.view_contact %}
        <li class="nav-item has-treeview
        {% if 'contact' in request.path %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link
          {% if 'testimonies' in request.path %}
        active
          {% endif %}
          
          
          ">
            <i class="nav-icon fa fa fa-address-card  "></i>
            <p>
              Testimonies
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">{% user_count %}</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administrator:contact' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Active Testimonies</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'administrator:contact' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Inactive Testimonies</p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}
        {% if perms.auth.view_contact %}
        <li class="nav-item has-treeview
        {% if 'contact' in request.path %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link
          {% if 'contact' in request.path %}
        active
          {% endif %}
          
          
          ">
            <i class="nav-icon fa fa fa-address-card  "></i>
            <p>
              contact
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">{% user_count %}</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administrator:contact' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Active contact</p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}
        {% if perms.auth.view_contact %}
        <li class="nav-item has-treeview
        {% if 'subscribe' in request.path %}
        menu-open
          {% endif %}
        
        ">
          <a href="#" class="nav-link
          {% if 'subscribe' in request.path %}
        active
          {% endif %}
          
          
          ">
            <i class="nav-icon fa  fa-thumbs-up "></i>
            <p>
              subscribers
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">{% user_count %}</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="{% url 'administrator:subscribe' %}" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Active subscribers</p>
              </a>
            </li>

          </ul>
        </li>
        {% endif %}

        {% if user.is_superuser %}
<!-- 
        <li class="nav-header">Configuration</li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa fa-microchip "></i>
            <p>
              Brand
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">


            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Business</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Department</p>
              </a>
            </li>

          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fa  fa-bullhorn"></i>
            <p>
              Settings
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Interest</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Fines</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Share</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">
                <i class="nav-icon far fa-circle text-primary"></i>
                <p class="text">Manage Loan</p>
              </a>
            </li>

          </ul>
        </li> -->
        {% endif %}

       
       


        

        <br><br>


      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->

</aside>