{% extends 'layouts/base.html' %}
{% load static%}
{% block content %}

<div class="container">
<br><br><br>
    <div class="login-box">
        <div id="login">

            {% include 'admin_layouts/partials/inc/msg.html' %}
        </div>

        <div class="card col-md-6 m-auto">

            <div class="card-body login-card-body">
                <div class=" text-center text-uppercase ">
                    <br><br>
                    <img src="{% static 'images/logo.png' %}" alt="." width="100px"> <br><br>
                </div>
                <p class="login-box-msg">ARISE AND SHINE LOGIN PANEL</p><br>

                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Enter username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                        </div>
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>

                    <button disabled href="#" class="btn btn-block btn-primary">
                        <i class="fab  fa-google mr-2"></i> Sign in using Google Account
                    </button>
                </div>

                <!-- <p class="mb-1">
                    <a href="forgot-password.html">I forgot my password</a>
                </p> -->
                <small class="mb-1 text-danger">
                    <strong>Note:</strong> ARISE AND SHINE system is still under <strong>constructions</strong>,please consider
                    only <strong>DEMO credentials</strong> provided <br>
                    <div class="text-center">
                ---------------------------------- <br>
                       CONIC BRAND TZ
                    </div>

                </small>
            </div>
        </div>
    </div>

</div>
<br><br><br>
<script src="{% static 'administrator/plugins/jquery/jquery.min.js' %} "></script>
<script>
    $('#login').show(1000).delay(3000).fadeOut(1000)
</script>
{% endblock%}